@{
    ViewBag.Title = "Афиша";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    @foreach (KINO.Models.Film film in ViewBag.Films)
    {
        <div class="row film">
            @{
                string url = "/Content/Images/Posters/" + film.Poster;
                <div class="poster-image" style="background-image:url(@url)"></div>
                <div class="film-info">
                    @{
                        string filmName = string.Format("{0} ({1})", film.Name, film.ReleaseYear);
                        string href = string.Format("/Home/Film?link={0}", film.LINK);
                        <h3><a href="@href">@filmName</a></h3>
                        <strong>Жанр: </strong><span>@film.Genre.Name</span><br />
                        <strong>Ограничение: </strong><span>@film.AgeLimit.Value</span><br />
                    }
                </div>

            }
        </div>
                }
</div>
