
@{
    ViewBag.Title = ViewBag.Film.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="film-container container">
        <div class="row">
            <div style="float: left; margin-right: 20px;">
                @{ 
                    string image = "/Content/Images/Posters/" + ViewBag.Film.Poster;
                    <div class="poster-image-large" style="background-image:url(@image); margin-top:25px;">
                        </div>
                 }
            </div>
            <div style="float: left;">
                <h2>@ViewBag.Film.Name</h2>
                <p>Год: @ViewBag.Film.ReleaseYear</p>
                <p>Длительность: @ViewBag.Film.Duration</p>
                <p>Страна: @ViewBag.Film.Country.Name</p>
                <p>Жанр: @ViewBag.Film.Genre.Name</p>
                <p>Режиссер: @ViewBag.Film.Director.Name  @ViewBag.Film.Director.Surname</p>
                <p>Ограничения: @ViewBag.Film.AgeLimit.Value</p>
            </div>
        </div>
        @if (@HttpContext.Current.User.IsInRole("Admin"))
        {
            <hr />
            <div class="row">
                <p><a class="btn btn-default col-md-2" style="margin-left:10px;" href="/Manage/SessionManage">Добавить сеанс</a></p>
            </div>

        }
        @{
            List<List<KINO.Models.Session>> sessionSortedByDate = new List<List<KINO.Models.Session>>();
            IEnumerable<KINO.Models.Session> sessions = ViewBag.Sessions;
            List<KINO.Models.Session> sessionsList = sessions.ToList();
            sessionsList.Sort(new KINO.Models.SessionComparer());
            foreach (KINO.Models.Session s in sessionsList)
            {
                bool added = false;
                foreach (List<KINO.Models.Session> list in sessionSortedByDate)
                {
                    if (list.Count > 0 && list[0].SessionTime.ToShortDateString() == s.SessionTime.ToShortDateString())
                    {
                        list.Add(s);
                        added = true;
                        continue;
                    }

                }
                if (!added)
                {
                    List<KINO.Models.Session> newList = new List<KINO.Models.Session>();
                    newList.Add(s);
                    sessionSortedByDate.Add(newList);
                }
            }
            foreach (List<KINO.Models.Session> list in sessionSortedByDate)
            {
                if (list.Count > 0)
                {
                    <h3>@list[0].SessionTime.ToShortDateString() (@list[0].SessionTime.DayOfWeek.ToString())</h3>
                    <div class="row">
                        @{ 
                            list.Sort(new KINO.Models.SessionComparer());
                            foreach (KINO.Models.Session s in list)
                            {
                                <a href="/Home/Sessions?id=@s.LINK" class="session-link"><div class="session-button">@s.SessionTime.ToShortTimeString()<br/>Зал: @s.Hall.Name</div></a>
                            }
            }
                    </div>
                }
            }
        }
    </div>
</div>

