
@{
    ViewBag.Title = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Заказ билета</h2>



<p>Фильм: @ViewBag.Session.Film.Name</p>
<p>Зал: @ViewBag.Session.Hall.Name</p>
<p>Дата: @ViewBag.Session.SessionTime.ToShortDateString()</p>
<p>Время: @ViewBag.Session.SessionTime.ToShortTimeString()</p>

@{ 
    List<KINO.Models.Seat> seats = ViewBag.Session.Seats;
    int rowCount = (int)Math.Sqrt(ViewBag.Session.Hall.SeatsNumber / 4);
    
    <div class="seat-set">
    @for (int i = 0; i< rowCount; i++)
    {
        <div class="seat-row">
        @for (int j = 0; j < rowCount * rowCount; j++)
        {
            KINO.Models.Seat seat = null;
            try
            {
                seat = seats.FirstOrDefault(s => s.Row == i+1 && s.Number == j+1);
            }
            catch
            {

            }
            if (seat != null && seat.IsBooked)
            {
                <div class="seat booked"></div>
            }
            else
            {
                <div class="seat" row="@(i+1)" number="@(j+1)"></div>

            }
        }
        </div>
    }
    </div>
    <div class="finalize-block">
        <form action="/Home/CreateOrder" method="post">
            <input type="hidden" class="session-cost" name="session-cost" value=@ViewBag.Session.Cost>
            <input type="hidden" class="session-link" name="session-link" value=@ViewBag.Session.LINK>
            <input type="submit" class="btn btn-default make-order-button" value="Заказать">
        </form>
</div>
}

