@model KINO.Models.FilmManageViewModel
@{
    ViewBag.Title = "Редактирование фильмов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>

<div>
    @using (Html.BeginForm("FilmManage", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <h4>Добавление фильма.</h4>
        <hr />
        <div class="container">
        <div class="row">
            <div class="col-md-6" style="float:left;">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
            @Html.LabelFor(m => m.Film.Name, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Film.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.DirectorLINK, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Film.DirectorLINK, ViewBag.Directors as SelectList, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.GenreLINK, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Film.GenreLINK, ViewBag.Genres as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.ReleaseYear, new { @class = "col-md-4 control-label" })
            <div class="col-md-8" >
                @Html.TextBoxFor(m => m.Film.ReleaseYear, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.AgeLimitLINK, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Film.AgeLimitLINK, ViewBag.AgeLimits as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.CountryLINK, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Film.CountryLINK, ViewBag.Countries as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.Duration, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Film.Duration, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Film.Poster, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.EditorFor(m => m.Film.Poster, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UploadedFile, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", onchange = "SetNewEntry(this.files);" })
            </div>
        </div>
                @if (Model.Film != null)
                {
                    Html.HiddenFor(m => m.Film.LINK);
                }
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @if (Model.Film == null)
                {
                    <input type="submit" class="btn btn-default" value="Добавить" />
                }
                else
                {
                    <input type="submit" class="btn btn-default" value="Обновить" />
                }
            </div>
        </div>
                </div>
            
         <div class="col-md-5">
                    @{
                        string image = "";
                        if (Model.Film != null)
                        {
                            image = "/Content/Images/Posters/" + Model.Film.Poster;
                        }
                        <img id="filmimage" class="film-content-image" src="@image" />

                        }
          </div>
      </div>
  </div>
    }
</div>
