@model KINO.Models.IndexViewModel
@using KINO.Helpers
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@if (@HttpContext.Current.User.IsInRole("User"))
{  
   <div>
        <h4>История заказов</h4>
        <hr />
        @if (ViewBag.History != null)
        {
            using (Ajax.BeginForm("Index", "Manage", new AjaxOptions { UpdateTargetId = "results" }))
            {
              <div class="btn-group-sm" style="float:right">
                  Поиск:
                <input type="text" name="search" />
                <input type="submit" class="btn btn-default" style="margin-bottom:6px; margin-top:3px" value="Найти" />
              </div>
        <div id="results">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Дата и время заказа</th>
                        <th>Дата и время сеанса</th>
                        <th>Название фильма</th>
                        <th>Название зала</th>
                        <th>Стоимость заказа</th>
                        <th>Количество билетов</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (KINO.Models.UserOrdersHistory history in ViewBag.History)
                {
                    <tr>
                        @foreach (var prop in history.GetType().GetProperties())
                        {
                            <td>@prop.GetValue(history)</td>
                        }
                    </tr>
                }
                    </tbody>
                
            </table>
            @if(Model.PageInfo.TotalPages > 1)
            {
                <div style="display:inline-block">
                    Страницы:
                </div>
            }
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }), true)
            </div>
        </div>
            }


        }
        else
        {
            <p>Здесь будет отображаться история ваших заказов.</p>
        }
    </div>
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}


<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        @*<dt>Внешние имена входа:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Управление", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        <dt>Имя пользователя :</dt>
        <dd>
           [ @Html.ActionLink("Изменить", "ChangeLogin", "Manage")]
        </dd>
        <dt>Email :</dt>
        <dd>
            [ @Html.ActionLink("Изменить", "ChangeEmail", "Manage")]
        </dd>
        @*<dt>Номер телефона :</dt>
        <dd>
            @(Model.PhoneNumber ?? "Не указан")
            @if (Model.PhoneNumber != null)
            {
                <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Добавить", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            }
        </dd>*@
        
        @*<dt>Двухфакторная проверка подлинности:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Включено
                        <input type="submit" value="Отключить" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Отключено
                        <input type="submit" value="Включить" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>*@
    </dl>
</div>
