@model KINO.Models.SessionManageViewModel
@{
    ViewBag.Title = "Редактирование сеансов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />*@


<h2>@ViewBag.Title.</h2>
<div>
    @using (Html.BeginForm("SessionManage", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>Добавление сеанса.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        if (Model.Session == null)
        {
            if (ViewBag.film != null)
            {
                <div class="form-group">
                @Html.LabelFor(m => m.Session.FilmLINK, new { @class = "col-md-2 control-label" })
                <div class="col-md-10" style="margin-top: 8px">
                    @*Html.DisplayFor(m => m.Session.Film.Name, new { @class = "form-control" })*@
                    @{
                        string filmName = ViewBag.FilmName.ToString();
                        int film = ViewBag.film;
                    }
                    @filmName
                    @Html.HiddenFor(m => m.Session.FilmLINK, new { })
                    <script>
                        $("#Session_FilmLINK").attr("value", @film);
                    </script>
                </div>
            </div>
             }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Session.FilmLINK, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.Session.FilmLINK, ViewBag.Films as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                            }

                        }
                        else
                        {
            <div class="form-group">
                @Html.LabelFor(m => m.Session.FilmLINK, new { @class = "col-md-2 control-label" })
                <div class="col-md-10" style="margin-top: 8px">
                    @Html.DisplayFor(m => m.Session.Film.Name, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.Session.FilmLINK)
                </div>
            </div>

        }

        <div class="form-group">

            @Html.LabelFor(m => m.Session.SessionTime, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="input-group" id="datetimepicker1">
                    <input type="text" class="form-control" name="date_field" data-val-required="Требуется поле Дата."/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

            <script>
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        locale: 'ru'

                    });
                    @{ 
                        string dateString = "";
                    }
                    @if (Model.Session != null) {
                        dateString = Model.Session.SessionTime.ToShortDateString() + " " + Model.Session.SessionTime.ToShortTimeString();
                    }
                    else {
                        //dateString = DateTime.Now.ToShortDateString() + " " + DateTime.Now.ToShortTimeString();
                    }
                    $('#datetimepicker1').data("DateTimePicker").date('@dateString');
                });
            </script>
            <div class="form-group">
                @Html.LabelFor(m => m.Session.HallLINK, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Session.HallLINK, ViewBag.Halls as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Session.Cost, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Session.Cost, new { @class = "form-control" })
                </div>
            </div>
                        if (Model.Session != null)
                        {
                            Html.HiddenFor(m => m.Session.LINK);
                        }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (Model.Session == null)
                    {
                        <input type="submit" class="btn btn-default" value="Добавить" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-default" value="Обновить" />
                    }
                </div>
            </div>
    
                }
</div>

@Scripts.Render("~/Scripts/jquery-3.2.1.js")
@Scripts.Render("~/Scripts/moment-with-locales.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
